.projects-section {
  width: 45%;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
